*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  width: 1140px;
  height: 534px;
  justify-content: center;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: end;
}

.result__video {
  width: 100%;
  height: 100%;
}

.result__video-container {
  margin-bottom: 16px;
  height: 386px;
  width: 711px;
  position: relative;
}


.content__video-card {
  display: grid;
  grid-template-columns: auto 194px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.title {
  color: #FFFFFF;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  color: #FFF;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

