*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

fieldset {
  padding: 0;
	margin: 0;
	border: 0;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  width: 1140px;
  height: 534px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form:last-child {
  align-items: flex-end;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: end;
}

.result__video {
  width: 100%;
  height: 100%;
}

.result__video-container {
  margin-bottom: 16px;
  height: 386px;
  width: 711px;
  position: relative;
  cursor: pointer;
}


.content__video-card {
  display: grid;
  grid-template-columns: auto 194px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  color: #FFFFFF;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  color: #FFF;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
 display: inline-block;
 width: fit-content;
 justify-content: center;
}

.button {
  cursor: pointer;
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: transparent;
  border: 1px solid #FFF;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.search-form__textfield {
  background: transparent;
  height: 27px;
  width: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: 0px;
  border-left: 0px;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

/* .search-form__textfield:has(:focus-visible) {
  border: none;
} */

.search-form__checkbox-list {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 15px;
  
}

.search-form__pseudo-checkbox {
  width: 19px;
	height: 19px;
	display: inline-block;
	border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;

 
  width: 17px;
  height: 17px;
  background-color: #fff;
  border: 1px solid #1B1919;;
  border-radius: 1px;
}
